<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inbox Styleguide: Components</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body data-spy="scroll" data-target="#sidebar">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Inbox Styleguide</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Components</a></li>
            <li><a href="/example">Example</a></li>
            <li><a href="/css">CSS</a></li>
            <li><a href="/seeds">Seeds</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="page-header">
            <h1>Inbox Styleguide</h1>
          </div>

          <% for(component of components) { %>
            <p id="component-<%= component.id %>" class="lead"><%= component.name %></p>
            <p>Preview:</p>
            <%- component.html %>
            <p>Source:</p>
            <pre><code><%= component.html %></code></pre>
            <hr>
          <% } %>
        </div>
        <div id="sidebar" class="col-sm-3">
          <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-bottom="200">
            <% for(component of components) { %>
              <li>
                <a href="#component-<%= component.id %>">
                  <%= component.name %>
                </a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>

      <footer class="spacer"></footer>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>

  </body>
</html>
